<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页</title>
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
    <h1>注册</h1>
    <form action="/signup" method="post">
        <input type="text" name="name" id="name" placeholder="请输入用户名" required><br><br>
        <input type="password" name="pwd" id="pwd" placeholder="请输入密码" required><br><br>
        <input type="submit" value="注册">
    </form>
    <h1>登录</h1>
    <form action="#" method="post">
        <input type="text" name="name" id="name" placeholder="请输入用户名" required><br><br>
        <input type="password" name="pwd" id="pwd" placeholder="请输入密码" required><br><br>
        <input type="submit" value="登录">
    </form>
</body>

</html>