<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" contect="no-cache">
    <title>goweb主页</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/js.js"></script>
</head>

<body>
    <div class="nav">
        <ul>
            <li>
                <a href="#" onclick="adduserv2()">添加用户</a>
            </li>
            <li>
                <a href="#" onclick="deleteuserv2()">删除用户</a>
            </li>
            <li>
                <a href="#" onclick="modifyuserv2()">修改用户</a>
            </li>
            <li>
                <a href="#" onclick="queryuserv2()">查看用户</a>
            </li>
            <li>
                <a href="#" onclick="listuserv2()">列出用户</a>
            </li>
        </ul>
    </div>
    <div class="content">
    </div>
    <hr>
    <div class="result">
    </div>
</body>

</html>